body{
    background-image: url("img/fondos.jpg");
}
.container{
    height: 100vh;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(1, 1, 54);
    height: 30px;

}
.btn{
    margin: 2rem 0rem;
    border:none;
    height: 4rem;
    display: block;
    width: 40%;
    background: blue;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
}
button:active{
    background-color: rgb(32, 89, 224);
}
.btn-grabar{
    background: red;
}
input{
    display: block;
    width: 90%;
    height: 2rem;
    padding: 1rem 0rem;
    border: 0;
    border-bottom: 2px solid dodgerblue;
    outline: 0;
    font-size: 1.8rem;
    letter-spacing: 2px;
}